In [1]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

In [2]:
def query(q):
    conn.row_factory = sqlite3.Row
    cur = conn.cursor()
    cur.execute(q)
    rows = cur.fetchall()

    # pretty print the column names
    for k in rows[0].keys():
        print(k.ljust(28), end='')
    
    print()  # empty line

    # print a line under each column name
    for k in rows[0].keys():
        print(('-' * len(k)).ljust(28), end='')

    print('\n')  # double empty line

    for row in rows: 
        for element in row:
            print(str(element).ljust(28), end='')
        print()

In [3]:
conn=create_connection("sqlite_db_pythonsqlite.db")

2.6.0

### Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members!

In [4]:
query("SELECT * FROM(SELECT facility, SUM(session_cost) AS revenue FROM (SELECT name AS facility, CASE WHEN b.memid = 0 THEN (slots * guestcost) ELSE (slots * membercost) END AS session_cost FROM Bookings as b INNER JOIN Members as m ON b.memid = m.memid INNER JOIN Facilities as f ON b.facid = f.facid) as session_costs GROUP BY facility) as revenues WHERE revenue <1000 ORDER BY revenue")

facility                    revenue
--------                    -------

Table Tennis                180
Snooker Table               240
Pool Table                  270

### Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order

In [5]:
query("SELECT m.surname ||', '|| m.firstname AS Member, r.surname ||', '  || r.firstname AS Recommended_By FROM Members AS m LEFT JOIN Members AS r ON m.recommendedby = r.memid ORDER BY Member")

Member                      Recommended_By
------                      --------------

Bader, Florence             Stibbons, Ponder
Baker, Anne                 Stibbons, Ponder
Baker, Timothy              Farrell, Jemima
Boothe, Tim                 Rownam, Tim
Butters, Gerald             Smith, Darren
Coplin, Joan                Baker, Timothy
Crumpet, Erica              Smith, Tracy
Dare, Nancy                 Joplette, Janice
Farrell, David              None
Farrell, Jemima             None
GUEST, GUEST                None
Genting, Matthew            Butters, Gerald
Hunt, John                  Purview, Millicent
Jones, David                Joplette, Janice
Jones, Douglas              Jones, David
Joplette, Janice            Smith, Darren
Mackenzie, Anna             Smith, Darren
Owen, Charles               Smith, Darren
Pinker, David               Farrell, Jemima
Purview, Millicent          Smith, Tracy
Rownam, Tim                 None
Rumney, Henrietta           Genting, Matthew
Sarwin, Ramnaresh           Bader, Florence
Smith, Darren               None
Smith, Darren               None
Smith, Jack                 Smith, Darren
Smith, Tracy                None
Stibbons, Ponder            Tracy, Burton
Tracy, Burton               None
Tupperware, Hyacinth        None
Worthington-Smyth, Henry    Smith, Tracy

### Q12: Find the facilities with their usage by member, but not guests

In [6]:
query("SELECT Member, name AS facility, SUM(slots) AS total_uses FROM (SELECT b.slots, f.name, m.surname ||', '|| m.firstname AS Member FROM `Bookings` AS b INNER JOIN Facilities AS f ON b.facid=f.facid INNER JOIN Members as m ON m.memid = b.memid WHERE b.memid != 0) AS member_bookings GROUP BY Member, facility")

Member                      facility                    total_uses
------                      --------                    ----------

Bader, Florence             Badminton Court             27
Bader, Florence             Massage Room 2              4
Bader, Florence             Pool Table                  23
Bader, Florence             Snooker Table               66
Bader, Florence             Squash Court                4
Bader, Florence             Table Tennis                86
Bader, Florence             Tennis Court 1              3
Bader, Florence             Tennis Court 2              24
Baker, Anne                 Badminton Court             30
Baker, Anne                 Massage Room 1              6
Baker, Anne                 Massage Room 2              4
Baker, Anne                 Pool Table                  12
Baker, Anne                 Squash Court                110
Baker, Anne                 Table Tennis                2
Baker, Anne                 Tennis Court 1              18
Baker, Anne                 Tennis Court 2              114
Baker, Timothy              Badminton Court             21
Baker, Timothy              Massage Room 1              50
Baker, Timothy              Pool Table                  95
Baker, Timothy              Squash Court                10
Baker, Timothy              Table Tennis                48
Baker, Timothy              Tennis Court 1              45
Baker, Timothy              Tennis Court 2              21
Boothe, Tim                 Badminton Court             36
Boothe, Tim                 Massage Room 1              76
Boothe, Tim                 Pool Table                  26
Boothe, Tim                 Snooker Table               90
Boothe, Tim                 Squash Court                24
Boothe, Tim                 Table Tennis                8
Boothe, Tim                 Tennis Court 1              12
Boothe, Tim                 Tennis Court 2              168
Butters, Gerald             Badminton Court             63
Butters, Gerald             Massage Room 1              66
Butters, Gerald             Massage Room 2              2
Butters, Gerald             Pool Table                  6
Butters, Gerald             Snooker Table               72
Butters, Gerald             Squash Court                18
Butters, Gerald             Table Tennis                2
Butters, Gerald             Tennis Court 1              171
Butters, Gerald             Tennis Court 2              9
Coplin, Joan                Massage Room 1              2
Coplin, Joan                Massage Room 2              4
Coplin, Joan                Pool Table                  11
Coplin, Joan                Snooker Table               20
Coplin, Joan                Squash Court                2
Coplin, Joan                Table Tennis                46
Coplin, Joan                Tennis Court 1              21
Crumpet, Erica              Badminton Court             6
Crumpet, Erica              Massage Room 1              4
Crumpet, Erica              Table Tennis                4
Crumpet, Erica              Tennis Court 1              3
Dare, Nancy                 Badminton Court             30
Dare, Nancy                 Massage Room 1              38
Dare, Nancy                 Massage Room 2              10
Dare, Nancy                 Pool Table                  19
Dare, Nancy                 Snooker Table               46
Dare, Nancy                 Table Tennis                10
Dare, Nancy                 Tennis Court 1              81
Dare, Nancy                 Tennis Court 2              33
Farrell, David              Pool Table                  25
Farrell, David              Snooker Table               2
Farrell, David              Squash Court                2
Farrell, David              Tennis Court 1              18
Farrell, David              Tennis Court 2              3
Farrell, Jemima             Badminton Court             21
Farrell, Jemima             Massage Room 1              68
Farrell, Jemima             Pool Table                  1
Farrell, Jemima             Snooker Table               44
Farrell, Jemima             Squash Court                16
Farrell, Jemima             Table Tennis                24
Farrell, Jemima             Tennis Court 1              3
Farrell, Jemima             Tennis Court 2              3
Genting, Matthew            Massage Room 1              52
Genting, Matthew            Massage Room 2              2
Genting, Matthew            Pool Table                  18
Genting, Matthew            Snooker Table               2
Genting, Matthew            Table Tennis                54
Genting, Matthew            Tennis Court 1              3
Hunt, John                  Badminton Court             6
Hunt, John                  Massage Room 1              6
Hunt, John                  Squash Court                2
Hunt, John                  Table Tennis                2
Hunt, John                  Tennis Court 1              12
Hunt, John                  Tennis Court 2              12
Jones, David                Badminton Court             24
Jones, David                Massage Room 1              40
Jones, David                Massage Room 2              8
Jones, David                Pool Table                  8
Jones, David                Snooker Table               4
Jones, David                Squash Court                16
Jones, David                Table Tennis                22
Jones, David                Tennis Court 1              84
Jones, David                Tennis Court 2              99
Jones, Douglas              Badminton Court             6
Jones, Douglas              Pool Table                  2
Jones, Douglas              Squash Court                2
Jones, Douglas              Tennis Court 1              27
Joplette, Janice            Massage Room 1              24
Joplette, Janice            Massage Room 2              4
Joplette, Janice            Pool Table                  27
Joplette, Janice            Snooker Table               142
Joplette, Janice            Squash Court                30
Joplette, Janice            Table Tennis                18
Joplette, Janice            Tennis Court 1              57
Joplette, Janice            Tennis Court 2              24
Mackenzie, Anna             Badminton Court             96
Mackenzie, Anna             Massage Room 1              2
Mackenzie, Anna             Pool Table                  83
Mackenzie, Anna             Snooker Table               14
Mackenzie, Anna             Squash Court                4
Mackenzie, Anna             Table Tennis                32
Owen, Charles               Badminton Court             18
Owen, Charles               Massage Room 1              22
Owen, Charles               Massage Room 2              4
Owen, Charles               Pool Table                  1
Owen, Charles               Snooker Table               44
Owen, Charles               Squash Court                14
Owen, Charles               Table Tennis                50
Owen, Charles               Tennis Court 1              51
Owen, Charles               Tennis Court 2              141
Pinker, David               Badminton Court             21
Pinker, David               Massage Room 1              6
Pinker, David               Pool Table                  9
Pinker, David               Snooker Table               32
Pinker, David               Squash Court                6
Pinker, David               Table Tennis                34
Pinker, David               Tennis Court 1              51
Purview, Millicent          Badminton Court             6
Purview, Millicent          Pool Table                  5
Purview, Millicent          Snooker Table               2
Purview, Millicent          Squash Court                2
Purview, Millicent          Table Tennis                14
Purview, Millicent          Tennis Court 2              3
Rownam, Tim                 Badminton Court             12
Rownam, Tim                 Massage Room 1              176
Rownam, Tim                 Massage Room 2              4
Rownam, Tim                 Pool Table                  282
Rownam, Tim                 Table Tennis                150
Rownam, Tim                 Tennis Court 1              18
Rownam, Tim                 Tennis Court 2              18
Rumney, Henrietta           Pool Table                  3
Rumney, Henrietta           Snooker Table               28
Rumney, Henrietta           Squash Court                4
Rumney, Henrietta           Tennis Court 2              3
Sarwin, Ramnaresh           Badminton Court             21
Sarwin, Ramnaresh           Massage Room 1              16
Sarwin, Ramnaresh           Massage Room 2              6
Sarwin, Ramnaresh           Pool Table                  13
Sarwin, Ramnaresh           Snooker Table               36
Sarwin, Ramnaresh           Squash Court                4
Sarwin, Ramnaresh           Table Tennis                6
Sarwin, Ramnaresh           Tennis Court 1              15
Sarwin, Ramnaresh           Tennis Court 2              36
Smith, Darren               Badminton Court             432
Smith, Darren               Massage Room 1              58
Smith, Darren               Pool Table                  28
Smith, Darren               Snooker Table               24
Smith, Darren               Squash Court                30
Smith, Darren               Table Tennis                56
Smith, Darren               Tennis Court 2              57
Smith, Jack                 Badminton Court             36
Smith, Jack                 Massage Room 1              54
Smith, Jack                 Massage Room 2              2
Smith, Jack                 Pool Table                  7
Smith, Jack                 Snooker Table               10
Smith, Jack                 Squash Court                22
Smith, Jack                 Table Tennis                10
Smith, Jack                 Tennis Court 1              75
Smith, Jack                 Tennis Court 2              3
Smith, Tracy                Badminton Court             102
Smith, Tracy                Massage Room 1              12
Smith, Tracy                Pool Table                  64
Smith, Tracy                Snooker Table               90
Smith, Tracy                Squash Court                12
Smith, Tracy                Table Tennis                56
Smith, Tracy                Tennis Court 1              93
Smith, Tracy                Tennis Court 2              6
Stibbons, Ponder            Badminton Court             48
Stibbons, Ponder            Massage Room 1              40
Stibbons, Ponder            Pool Table                  12
Stibbons, Ponder            Snooker Table               40
Stibbons, Ponder            Squash Court                4
Stibbons, Ponder            Table Tennis                6
Stibbons, Ponder            Tennis Court 1              3
Stibbons, Ponder            Tennis Court 2              96
Tracy, Burton               Badminton Court             6
Tracy, Burton               Massage Room 1              62
Tracy, Burton               Pool Table                  30
Tracy, Burton               Snooker Table               40
Tracy, Burton               Squash Court                78
Tracy, Burton               Table Tennis                48
Tracy, Burton               Tennis Court 1              93
Tracy, Burton               Tennis Court 2              9
Tupperware, Hyacinth        Badminton Court             3
Tupperware, Hyacinth        Massage Room 1              2
Tupperware, Hyacinth        Pool Table                  9
Tupperware, Hyacinth        Snooker Table               12
Tupperware, Hyacinth        Squash Court                2
Worthington-Smyth, Henry    Badminton Court             15
Worthington-Smyth, Henry    Massage Room 1              2
Worthington-Smyth, Henry    Pool Table                  37
Worthington-Smyth, Henry    Table Tennis                6

### Q13: Find the facilities usage by month, but not guests

In [7]:
query("SELECT name AS facility, month, SUM(slots) as Slots_Used_by_Members FROM (SELECT b.slots, f.name, strftime('%m', starttime) AS month FROM Bookings AS b INNER JOIN Facilities AS f ON b.facid=f.facid INNER JOIN Members as m ON m.memid = b.memid WHERE b.memid != 0) AS member_bookings GROUP BY facility, month")

facility                    month                       Slots_Used_by_Members
--------                    -----                       ---------------------

Badminton Court             07                          165
Badminton Court             08                          414
Badminton Court             09                          507
Massage Room 1              07                          166
Massage Room 1              08                          316
Massage Room 1              09                          402
Massage Room 2              07                          8
Massage Room 2              08                          18
Massage Room 2              09                          28
Pool Table                  07                          110
Pool Table                  08                          303
Pool Table                  09                          443
Snooker Table               07                          140
Snooker Table               08                          316
Snooker Table               09                          404
Squash Court                07                          50
Squash Court                08                          184
Squash Court                09                          184
Table Tennis                07                          98
Table Tennis                08                          296
Table Tennis                09                          400
Tennis Court 1              07                          201
Tennis Court 1              08                          339
Tennis Court 1              09                          417
Tennis Court 2              07                          123
Tennis Court 2              08                          345
Tennis Court 2              09                          414